@import "react-alice-carousel/lib/alice-carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar{
    width: .19rem;
    height: 2px;
    background-color: slategrey;
}

*{
    scroll-behavior: smooth;
}